.question-title {
    margin-top: 30px;
    text-align: center;
    color: #FFECC8;
}
.options {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    padding: 30px 0px;
    margin: 0 auto;
}
.option-single {
    padding: 20px;
    color: #E2E4F3;
    background-color: #393F6E;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}
.option-single:hover {
    background: linear-gradient(#E65895, #BC6BE8);
}
.option-single-active {
    background: linear-gradient(#E65895, #BC6BE8);
}